<!doctype HTML>
<html lang="en">
    <head>
        <title>Thank you for your submission</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ home_style }}">
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="{{ home_page_script}}"></script>
    </head>
    <body>
        {% block content %}{% endblock %}
        <section id="login">
            <div class="container">
            	<div class="row">
            	    <div class="col-xs-12">
                        <div class="parent2">
                            <div class="test1"><a href="/question/test"><i class="fa fa-user fa-2x"></i></a></div>
                            <div class="test2"><a href="/question/test"><i class="fa fa-graduation-cap fa-2x"></i></a></div>
                            <div class="test3"><a href="/create"><i class="fa fa-code fa-2x"></i></a></div>
                            <div class="test4"><a href="/create"><i class="fa fa-question-circle fa-2x"></i></a></div>
                            <div class="mask2"><i class="fa fa-home fa-3x"></i></div>
                        </div>
            		</div>
            	</div>
            </div>
        </section>

        <div class="titles">
            <h4 id="title_title">Available Question Titles.</h4>
            {% for item in titles %}
            <div class="col-md-1">
                <div class="tags">
                    <a href="{{'/question/' + item}}">{{ item }}</a>
                </div>
            </div>
            {% endfor %}
        </div>

    </body>

</html>
